* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #87CEFA;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    padding-top: 2%;
    text-align: center;

}

#main-home {
    padding-top: 3%;
    padding-left: 35%;
    padding-right: 35%;
}

.btn-secondary {
    width: 100%;
    color: white;

}

.btn-custom {
	padding: 1px 3px 3px 2px;
	border-radius: 50px;
}

.btn-icon {
	padding: 8px;
    color: white;
    background: #ffffff;
}

#div-thw {
    margin-top: 50%;
    margin-left: 200%;
    
}

#div-one {
    margin-top: 50%;
    margin-left: 200%;
}


/* ajuste2 */


.navbar-brand {
    text-align: right;
        width: 100%;
        background-color:#87CEFA ;
        position: absolute;

}

#calendar {
  margin-right:15%;
}